:root {
  /* Primary */

  --cyan: hsl(179, 62%, 43%);
  --off-cyan: #4abebd;
  --bright-yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
}
body {
  background-color: var(--light-gray);
}
main {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 375px;
  justify-content: center;
}
p {
  color: var(--light-gray);
}
.gray-text {
  color: gray;
}

/* Join us */
.box1 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  color: var(--cyan);
}

h3 {
  color: var(--bright-yellow);
}

/* Price */
.box2 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: var(--cyan);
  color: white;
  padding: 0.15rem 1rem 1.5rem 1rem;
}

/* Why us */
.box3 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: var(--off-cyan);
  color: white;
  padding: 2%;
}

button {
  background-color: var(--bright-yellow);
  color: white;
  align-self: center;
  height: 30px;
  width: 100%;
  margin: 1rem;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  border-radius: 15px;
}

button:hover {
  height: 40px;
  background-color: lime;
  border-radius: 20px;
  font-size: 20px;
}

@media screen(max-width:1440px) {
  body {
    font-size: 16px;
  }
}
